torch
torchvision
torchaudio
mediapipe
opencv-python
ultralytics
mistralai
openai-whisper
pyaudio
pygame
langdetect
gtts
transformers
easyocr
segment_anything
sacremoses
open3d

matplotlib
numpy
pandas
Pillow
scipy
typeguard
mypy-extensions 
tomli
# face_detection (从Git安装)
git+https://github.com/elliottzheng/face-detection